:root{
    --main-background-color:#351c75;
    --main-background-color-hover:#bd60e7;
    --main-btn-color:#FFF;
}
html{
    font-size: 62.5%;
}
header{
    font-size: 1.55rem;
    padding: 15px;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header label{
    text-align: end;
}

h2{
    font-size: 3rem;
}
.quiz-question-container{
    display: flex;
    justify-content: center;
}
.quiz-question-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
}
.quiz-question-card h2{
    display: flex;
    min-height: 5rem;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    /* font-size: 2.25rem; */
}
.quiz-question-card h3{
    display: flex;
    min-height: 5rem;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2.25rem;
}
.quiz-question-card p{
    font-size: 1.85rem;
    text-align: center;
    padding: 0 1rem;
    /* width: 50rem; */
}
.quiz-question-card button{
    font-size: 2rem;
    margin-top: 1.5rem;
    padding: 1rem 1.65rem;
    border-radius: 1rem;
    background-color: var(--main-background-color);
    color: var(--main-btn-color);
}
.quiz-question-card button:hover {
    background-color: var(--main-background-color-hover);
}
.quiz-question-card ol{
 font-size: 1.25rem;   
 margin-top: 2rem;
 margin-bottom: 2rem;
 width: 85%;
}
.quiz-question-card li {
    padding: 2px 5px;
    font-size: 1.75rem;
}
.quiz-question-card li button{
    min-width: 15rem;
}
.answer-result{
    font-size: 2rem;
    font-weight: bolder;
    font-style: italic;
    opacity: 0.35;
    width: 100%;
    padding: 1rem 2rem;
    border-top: #000 solid 2px;
    justify-content: start;
    text-align: start;
}
.enter-initials{
    display: flex;
    align-items: center;
}
.enter-initials button{
   
    margin-top: 0;
   
}

@media screen and (min-width:556px) {
    .quiz-question-card{
       
        width: 80%;
    }
}